<%= form_with(local: true, url: bulk_create_requests_employees_path, id: "bulk-create-requests-form") do |f| %>

  <% @ids.each do |id| %>
    <input type="hidden" value="<%= id %>" name="ids[]">
  <% end %>

  <%= f.hidden_field :date, value: @date %>

  <h1 class="text-center">打刻修正登録</h1>

  <div class="form-group row">
    <%= f.label :date, "日付", class: "col-4 col-form-label col-form-label-lg" %>
    <div class="col-8">
      <%= f.text_field :date, class: "form-control form-control-lg", value: @request.date, placeholder: "yyyy-mm-dd", value: @date, disabled: @date.present? %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :start, "出勤時刻", class: "col-4 col-form-label col-form-label-lg" %>
    <div class="col-8">
      <%= f.text_field :start, class: "form-control form-control-lg", placeholder: "hh:mm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :end, "退勤時刻", class: "col-4 col-form-label col-form-label-lg" %>
    <div class="col-8">
      <%= f.text_field :end, class: "form-control form-control-lg", placeholder: "hh:mm" %>
    </div>
  </div>

  <div class="form-groupe row">
    <%= f.label :admin_comment, "管理者コメント", class: "col-4 col-form-label col-form-label-lg" %>
    <div class="col-8">
      <%= f.text_area :admin_comment, class: "form-control form-control-lg", placeholder: "管理者コメントを記入" %>
    </div>
  </div>

  <%= f.submit "登録", class: "btn btn-primary btn-lg d-block mr-auto ml-auto mt-3" %>
<% end %>
