<%= form_with(local: true, url: bulk_create_requests_employees_path, id: "bulk-create-requests-form") do |f| %>

  <% @ids.each do |id| %>
    <input type="hidden" value="<%= id %>" name="ids[]">
  <% end %>

  <%= f.hidden_field :date, value: @date %>

  <h1 class="text-center">打刻修正登録</h1>

  <div class="form-group row">
    <%= f.label :date, class: "col-3 col-form-label col-form-label-lg", value: "日付" %>
    <div class="col-8">
      <%= f.text_field :date, class: "form-control form-control-lg", value: @request.date, placeholder: "yyyy-mm-dd", value: @date, disabled: @date.present? %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :start, class: "col-3 col-form-label col-form-label-lg", value: "出勤時刻" %>
    <div class="col-8">
      <%= f.text_field :start, class: "form-control form-control-lg", placeholder: "hh:mm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :end, class: "col-3 col-form-label col-form-label-lg", value: "退勤時刻" %>
    <div class="col-8">
      <%= f.text_field :end, class: "form-control form-control-lg", placeholder: "hh:mm" %>
    </div>
  </div>

  <div class="form-groupe row">
    <%= f.label :admin_comment, class: "col-3 col-form-label col-form-label-lg", value: "管理者コメント" %>
    <%= f.text_area :admin_comment, class: "col-8 form-control form-control-lg", placeholder: "管理者コメントを記入" %>
  </div>

  <%= f.submit "登録", class: "btn btn-primary btn-lg" %>
<% end %>
