<div class="contents-header">
  <h1><%= @tday.to_daily %></h1>
</div>

<%= form_with(local: true, url: bulk_action_employees_path(day: @tday, list: "day"), id: "bulk_form") do |f| %>
  <%= f.hidden_field :bulk_action, id: "bulk_action" %>
  <%= f.hidden_field :pattern_id, id: "pattern_id" %>
  <ul class="table-util clearfix">
    <li>
      <div class="dropdown">
        <button type="button" id="pattern-drop" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">パターン一括変更</button>
        <div class="dropdown-menu" aria-labelledby="pattern-drop">
          <% @pattern_by_id.to_a.each do |id, pattern| %>
            <a class="dropdown-item" href="#" onclick="jQuery('#bulk_action').val('bulk_change_pattern'); jQuery('#pattern_id').val('<%= id %>'); jQuery('#bulk_form').submit(); return false;"><%= pattern.name %></a>
          <% end %>
        </div>
      </div>
    </li>
    <li>
      <button type="button" class="btn btn-primary btn-lg" title=" 選択した社員に同一打刻修正を付与し自動で承認します" onclick="jQuery('#bulk_action').val('bulk_request'); jQuery('#bulk_form').submit(); return false;">打刻一括修正</button>
    </li>
    <li>
      <%= link_to "csv出力", daily_index_path(day: @tday, format: :csv), class: "btn btn-primary btn-lg" %>
    </li>
    <li>
      <div class="change-date">
        <%= link_to("◀︎", employees_path(day: @date.yesterday.to_s)) %>
        <%= link_to("本日", employees_path(day: Date.current)) %>
        <%= link_to("▶︎", employees_path(day: @date.tomorrow.to_s)) %>
      </div>
    </li>
  </ul>

  <%= render "qot_table", { table_keys: @table_keys, table_rows: @table_rows } %>
<% end %>
