<% if @employee.errors.present? %>
  <% @employee.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div id="employee_edit_content">

  <%= form_with(model: @employee, url: employee_path, local: true, method: :patch, class: "form-block") do |f| %>
    <div class="form-title">社員情報編集</div>
    <%= f.hidden_field :company_code %>
    <%= f.fields_for :emp_emp_status, (@employee.emp_emp_status || EmpEmpStatus.new) do |f1| %>
      <div class="form-group">
        <%= f1.select :emp_status_id, @emp_statuses.map{|s| [s.name, s.id]}, {}, {class: "form-control"} %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.text_field  :no,    class: "form-control", autocomplete: "no",    placeholder: "社員No", autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.text_field  :name,  class: "form-control", autocomplete: "name",  placeholder: "名前" %>
    </div>
    <div class="form-group">
      <%= f.email_field :email, class: "form-control", autocomplete: "email", placeholder: "メールアドレス" %>
    </div>
    <%= f.submit "新規登録", class: "form-btn btn btn-success btn-qot" %>
  <% end %>

</div>
