<div class="contents-header">
  <% if @list == "day" %>
    <h1><%= @tday.to_daily %></h1>
  <% elsif @list == "month" || @list == "schedule" %>
    <h1><%= @tday.to_monthly %></h1>
  <% end %>
</div>

<%= form_with(local: true, url: bulk_action_employees_path(day: @tday, list: @list), id: "bulk_form") do |f| %>
  <%= f.hidden_field :bulk_action, id: "bulk_action" %>
  <%= f.hidden_field :pattern_id, id: "pattern_id" %>
  <ul class="table-util clearfix">
    <% if @list == "day" %>
      <li>
        <div class="dropdown">
          <button type="button" id="pattern-drop", class="btn btn-primary btn-lg dropdown-toggle", data-toggle="dropdown" aria-haspopup="true", aria-expanded="false">パターン一括変更</button>
          <div class="dropdown-menu" aria-labelledby="pattern-drop">
            <% @work_pattern_names.each do |id, name| %>
              <a class="dropdown-item" href="#" onclick="jQuery('#bulk_action').val('bulk_change_pattern'); jQuery('#pattern_id').val('<%= id %>'); jQuery('#bulk_form').submit(); return false;"><%= name %></a>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
    <li><%= link_to "csv出力", daily_index_path(list: @list, day: @tday, format: :csv), class: "btn btn-primary btn-lg" %></li>
    <li>
      <% if @list == "day" %>
        <div class="change-date">
          <%= link_to("◀︎", daily_index_path(list: "day", day: @date.yesterday.to_s)) %>
          <%= link_to("本日", daily_index_path(list: "day", day: Date.current)) %>
          <%= link_to("▶︎", daily_index_path(list: "day", day: @date.tomorrow.to_s)) %>
        </div>
      <% elsif @list == "month" %>
        <div class="change-date">
          <%= link_to("◀︎", daily_index_path(list: "month", day: @date.prev_month.to_s)) %>
          <%= link_to("今月", daily_index_path(list: "month", day: Date.current)) %>
          <%= link_to("▶︎", daily_index_path(list: "month", day: @date.next_month.to_s)) %>
        </div>
      <% end %>
    </li>
  </ul>

  <%= render "qot_table", { table_keys: @table_keys, table_rows: @table_rows } %>
<% end %>
