<h1>Employees</h1>

<% if false %>
  <%= form_with(id: "filter_form") do |f| %>
    <%= f.select :filter_item, @all_labels %>に
    <%= f.text_field :filter_value %>を含む
    <%= f.submit "filter" %>
  <% end %>
<% end %>

<table id="all-emp-list">
  <tbody>
    <tr>
      <% @all_labels.each do |label| %>
        <th><%= label %></th>
      <% end %>
    </tr>

    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.email %></td>
        
        <td><%= link_to "削除", "/employee?list=#{@list_type}", method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  tableDragger(document.querySelector("#all-emp-list"));
</script>
