<h1>Employees</h1>

<%= form_with(id: "filter_form") do |f| %>
  <%= f.select :filter_item, @all_labels %>に
  <%= f.text_field :filter_value %>を含む
  <%= f.submit "filter" %>
<% end %>

<table id="all-emp-list">
  <tbody>
    <tr>
      <th><%= sort_link(@q, :email, 'メールアドレス') %></th>
      <% i = 1 %>
      <% @labels.each do |label| %>
        <th><%= label.name %></th>
        <% i += 1 %>
      <% end %>
      <th>削除</th>
    </tr>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.email %></td>
        <% i = 1 %>
        <% @labels.each do |label| %>
          <td><%=  employee.attributes["ex#{i}"] %></td>
          <% i += 1 %>
        <% end %>
        <td><%= link_to "削除", employee, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  tableDragger(document.querySelector("#all-emp-list"));
</script>
