<% if @list_type == "day" %>
  <h1><%= Date.parse(@target_day).strftime("%-m月%-d日") %></h1>
  <%= link_to "前の日", employees_path(list: "day", day: Date.parse(@target_day).yesterday.to_s)%>
  <%= link_to "次の日", employees_path(list: "day", day: Date.parse(@target_day).tomorrow.to_s)%>
<% elsif @list_type == "month" || @list_type == "schedule" %>
  <h1><%= Date.parse(@target_day).strftime("%-m月") %></h1>
  <%= link_to "前の月", employees_path(list: "month", day: Date.parse(@target_day).prev_month.to_s)%>
  <%= link_to "次の月", employees_path(list: "month", day: Date.parse(@target_day).next_month.to_s)%>
<% end %>

<% if false %>
  <%= form_with(id: "filter_form") do |f| %>
    <%= f.select :filter_item, @all_labels %>に
    <%= f.text_field :filter_value %>を含む
    <%= f.submit "filter" %>
  <% end %>
<% end %>

<table id="all-emp-list">
  <tbody>
    <tr>
      <% @all_labels.each do |label| %>
        <th><%= label %></th>
      <% end %>
    </tr>

    <% for i in (0..@employees.length - 1) do %>
      <tr>
        <!-- <td><%= @employees[i].email %></td> -->
        <% @add_labels.each do |label| %>
          <td><%= @add_values[i][label.id] %></td>
        <% end %>
        <% if @list_type == "day" %>
          <% @dayinfo_labels.each do |label| %>
            <td><%= @all_dayinfos[i][label] %></td>
          <% end %>
        <% end %>
        <% if @list_type == "month" %>
          <% @monthinfo_labels.each do |label| %>
            <td><%= @all_monthinfos[i][label] %></td>
          <% end %>
        <% end %>
        <td><%= link_to "詳細", employee_url(@employees[i]) %></td>
        <td><%= link_to "削除", employee_url(@employees[i], list: @list_type), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  tableDragger(document.querySelector("#all-emp-list"));
</script>
