<% if @list == "day" %>
  <h1><%= Date.parse(@tday).strftime("%Y年%-m月%-d日") %></h1>
  <%= link_to "前の日", employees_path(list: "day", day: Date.parse(@tday).yesterday.to_s)%>
  <%= link_to "次の日", employees_path(list: "day", day: Date.parse(@tday).tomorrow.to_s)%>
<% elsif @list == "month" || @list == "schedule" %>
  <h1><%= Date.parse(@tday).strftime("%Y年%-m月") %></h1>
  <%= link_to "前の月", employees_path(list: "month", day: Date.parse(@tday).prev_month.to_s)%>
  <%= link_to "次の月", employees_path(list: "month", day: Date.parse(@tday).next_month.to_s)%>
<% end %>

<table id="all-emp-list">
  <tbody>
    <tr>
      <% @table_key.each do |key| %>
        <th><%= key %></th>
      <% end %>
    </tr>

    <% @table_vals.each do |vals| %>
      <tr>
        <% vals.each do |val| %>
          <td><%= val %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  tableDragger(document.querySelector("#all-emp-list"));
</script>
