<div class="contents-header">
  <h1><%= @tday.to_monthly %></h1>
</div>

<%= form_with(local: true, url: bulk_action_path(day: @tday, list: "month"), id: "bulk_form") do |f| %>
  <%= f.hidden_field :bulk_action, id: "bulk_action" %>
  <%= f.hidden_field :pattern_id, id: "pattern_id" %>
  <ul class="table-util clearfix">
    <li>
      <%= link_to "csv出力", monthly_index_path(day: @tday, format: :csv), class: "btn btn-primary btn-lg" %>
    </li>
    <li>
      <div class="change-date">
        <%= link_to("◀︎", employees_path(day: @date.prev_month.to_s)) %>
        <%= link_to("今月", employees_path(day: Date.current)) %>
        <%= link_to("▶︎", employees_path(day: @date.next_month.to_s)) %>
      </div>
    </li>
  </ul>

  <%= render "qot_table", { table_keys: @table_keys, table_rows: @table_rows } %>
<% end %>
