<p id="notice"><%= notice %></p>

<% if @list_type == "day" %>
  <%= link_to "打刻修正を登録", new_request_url(id: @employee.id, date: @target_day) %>
<% end %>
<%= link_to "従業員情報を編集", edit_employee_path(@employee) %>
<%= link_to "従業員を削除", employee_url(@employee, list: @list_type), method: :delete %>

<% if @list_type == "day" %>
  <h1><%= @employee.name + ">" %><%= link_to Date.parse(@target_day).strftime("%Y年%-m月"), employee_url(list: "month", day: @target_day) %><%= ">" + Date.parse(@target_day).strftime("%Y年%-m月%-d日") %></h1>
  <%= link_to "前の日", employee_url(list: "day", day: Date.parse(@target_day).yesterday.to_s) %>
  <%= link_to "次の日", employee_url(list: "day", day: Date.parse(@target_day).tomorrow.to_s) %>
<% elsif @list_type == "month" || @list_type == "schedule" %>
  <h1><%= @employee.name + ">" + Date.parse(@target_day).strftime("%Y年%-m月") %></h1>
  <%= link_to "前の月", employee_url(list: "month", day: Date.parse(@target_day).prev_month.to_s) %>
  <%= link_to "次の月", employee_url(list: "month", day: Date.parse(@target_day).next_month.to_s) %>
<% end %>

<table>
  <tbody>
    <tr>
      <% @all_labels.each do |label| %>
        <th><%= label %></th>
      <% end %>
    </tr>
    <% if @list_type == "day" %>
      <tr>
        <% @dayinfo.each do |val| %>
          <td><%= val %></td>
        <% end %>
      </tr>
    <% elsif @list_type == "month" %>
      <% (1..@day_num).each do |i| %>
        <tr>
          <td><%= link_to i, employee_url(@employee, list: "day", day: @date.change(day: i)) %></td>
          <% if @dayinfos[i.to_s].present? %>
            <% @dayinfos[i.to_s].each do |val| %>
              <td><%= val %></td>
            <% end %>
          <% else %>
            <td></td><td></td><td></td><td></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
