<h2>新規社員作成</h2>

<%= form_for(@employee, url: employee_url, html: { method: :post }) do |f| %>

  <% @employee.company_code = @company_code %>
  <%= f.hidden_field :company_code %>

  <div class="field">
    <%= f.label :no %>
    <%= f.text_field :no, autofocus: true, autocomplete: "no" %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
