<%= form_with(model: @request, local: true, id: "new-request-form") do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this employee from being saved:</h2>
      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-title">打刻申請</div>

  <%= f.hidden_field :employee_id %>
  <%= f.hidden_field :state %>
  <%= f.hidden_field :date %>
  <%= f.hidden_field :prev_start %>
  <%= f.hidden_field :prev_end %>

  <fieldset disabled>
    <div class="form-group row">
      <%= f.label :employee_id, class: "col-3 col-form-label col-form-label-lg", value: "社員" %>
      <div class="col-8">
        <%= f.text_field :employee_id, class: "form-control form-control-lg", value: @employee_info %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :date, class: "col-3 col-form-label col-form-label-lg", value: "日付" %>
      <div class="col-8">
        <%= f.text_field :date, class: "form-control form-control-lg", value: @request.date %>
    </div>
  </fieldset>

  <div class="form-group row">
    <%= f.label :start, class: "col-3 col-form-label col-form-label-lg", value: "出勤時刻" %>
    <div class="col-8">
      <%= f.text_field :start, class: "form-control form-control-lg", placeholder: "hh:mm" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :end, class: "col-3 col-form-label col-form-label-lg", value: "退勤時刻" %>
    <div class="col-8">
      <%= f.text_field :end, class: "form-control form-control-lg", placeholder: "hh:mm" %>
    </div>
  </div>

  <% if employee_signed_in? %>
    <div class="form-group row">
      <%= f.label :employee_comment, class: "col-3 col-form-label col-form-label-lg", value: "退勤時刻" %>
      <div class="col-8">
        <%= f.text_area :employee_comment, class: "form-control form-control-lg" %>
      </div>
    </div>
  <% end %>

  <%= f.submit "申請", class: "btn btn-primary btn-lg" %>
<% end %>
