<% if sys_admin_signed_in? || @admin.is_super %>
  <div class="float-left">
    <%= form_with(model: @new_admin, url: @new_admin.id.present? ? update_admin_path(@new_admin.id) : create_admin_path, id: "create-admin-form", class: "needs-validation") do |f| %>
      <%= f.hidden_field :company_code %>
      <div class="form-group">
        <%= f.select :is_super, [['通常管理者', false], ['総合管理者', true]], {}, {class: "col form-control form-control-lg", disabled: @new_admin.id == @admin.id} %>
      </div>
      <div class="form-group">
        <%= f.text_field  :name,  class: "form-control form-control-lg", autocomplete: "name",  placeholder: "名前", required: true %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, class: "form-control form-control-lg", autocomplete: "email", placeholder: "メールアドレス", required: true %>
      </div>
        <div class="form-group">
          <%= f.password_field :password, class: "form-control form-control-lg", autocomplete: "password", placeholder: @new_admin.id.present? ? "パスワード（更新する場合入力）" : "パスワード", required: @new_admin.id.blank? %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, class: "form-control form-control-lg", autocomplete: "password", placeholder: "パスワード（確認用）", required: @new_admin.id.blank? %>
        </div>
      <%= f.submit @new_admin_submit, class: "form-btn btn btn-success btn-qot" %>
      <% if @new_admin.id.present? %>
        <a id="admins-edit-back" href="/admin/setting#nav-label-admins"><div class="btn btn-secondary btn-lg">編集をやめる</div></a>
      <% end %>
    <% end %>
  </div>

  <div class="float-left mt-5 ml-5">
    <%= render "qot_table", {table_keys: @admin_keys, table_rows: @admin_rows , table_id: "admins-table", row_ids: @admin_ids } %>
  </div>
<% else %>
  <div class="alert alert-danger" role="alert">総合管理者のみ管理者を閲覧・作成できます</div>
<% end %>
