<%= form_with(model: @pattern, url: create_pattern_path, id: "pattern-form") do |f| %>
  <div class="form-row">
    <%= f.label :name, class: "col-2 col-form-label col-form-label-lg", value: "名前" %>
    <div class="form-group">
      <%= f.text_field  :name, class: "col form-control form-control-lg", placeholder: "パターン名", autofocus: true %>
    </div>
  </div>
  <div class="form-row">
    <label class="col-2 col-form-label col-form-label-lg">所定労働時間</label>
    <div class="form-group">
      <%= f.select :start_day, %w(当日 前日 翌日), {}, {class: "col form-control form-control-lg"} %>
    </div>
    <div class="form-group col-2">
      <%= f.text_field  :start, class: "form-control form-control-lg", placeholder: "hh:mm" %>
    </div>
    <div class="col-form-label-lg">～</div>
    <div class="form-group">
      <%= f.select :end_day, %w(当日 前日 翌日), {}, {class: "col form-control form-control-lg"} %>
    </div>
    <div class="form-group col-2">
      <%= f.text_field  :end, class: "form-control form-control-lg", placeholder: "hh:mm" %>
    </div>
  </div>
  <div class="form-row">
    <label class="col-2 col-form-label col-form-label-lg">休憩時間</label>
    <div class="form-group">
      <%= f.select :rest_start_day, %w(当日 前日 翌日), {include_blank: true}, {class: "col form-control form-control-lg" } %>
    </div>
    <div class="form-group col-2">
      <%= f.text_field  :rest_start, class: "form-control form-control-lg", placeholder: "hh:mm" %>
    </div>
    <div class="col-form-label-lg">～</div>
    <div class="form-group">
      <%= f.select :rest_end_day, %w(当日 前日 翌日), {include_blank: true}, {class: "col form-control form-control-lg" } %>
    </div>
    <div class="form-group col-2">
      <%= f.text_field  :rest_end, class: "form-control form-control-lg", placeholder: "hh:mm" %>
    </div>
    <div class="form-group">
      <%= f.submit @pattern_submit, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
  <% if @pattern.id.present? %>
    <a href="/admin/setting#nav-label-pattern"><div class="btn btn-primary btn-lg">編集をやめる</div></a>
  <% end %>
<% end %>

<%= render "qot_table", {table_keys: @pattern_keys, table_rows: @pattern_rows , table_id: "patterns-table", table_class: nil, row_ids: @pattern_ids } %>