<div id="setting-status-require" class="alert alert-danger d-none" role="alert">テンプレートを作成する必要があります</div>

<h5>作成したテンプレートを持つ雇用区分を作成します。社員を登録する際、選んだ雇用区分に設定されたテンプレートが自動で適用されます</h5><br>
<div id="setting-status-content">
  <%= form_with(model: @status, url: @status.id.present? ? update_status_path(@status.id) : create_status_path, id: "status-form") do |f| %>
    <div class="form-row">
      <%= f.label :name, class: "col-2 col-form-label col-form-label-lg", value: "名前" %>
      <div class="form-group">
        <%= f.text_field  :name, class: "col form-control form-control-lg", placeholder: "雇用区分名", autofocus: true, required: true %>
      </div>
    </div>

    <div class="form-row">
      <%= f.label :work_template_id, class: "col-2 col-form-label col-form-label-lg", value: "設定テンプレート" %>
      <div class="form-group">
        <%= f.select :work_template_id, @template_options, {}, {class: "col form-control form-control-lg select-template"} %>
      </div>
    </div>

    <div class="form-row">
      <%= f.submit @status_submit, class: "btn btn-primary btn-lg" %>
      <% if @status.id.present? %>
        <a class="btn btn-secondary btn-lg ml-3" href="/admin/setting#nav-label-status">編集をやめる</a>
      <% end %>
    </div>
  <% end %>

  <%= render "qot_table", {wrapper_id: "statuses-table-wrapper", table_id: "statuses-table", table_keys: @status_keys, table_rows: @status_rows, row_ids: @status_ids } %>
</div>
