<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "employee_login_form"}) do |f| %>
  <h1 class="text-center">社員ログイン</h1>

  <% @employee.company_code = params[:company_code] %>
  <%= f.hidden_field :company_code %>
  <%= f.hidden_field :password, value: "password" %>
  <%= f.hidden_field :password_confirmation, value: "password" %>

  <div class="form-group">
    <%= f.email_field :email, class: "form-control form-control-lg", placeholder: "メールアドレス", autocomplete: "email", autofocus: true %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, value: "ログイン状態を記憶する" %>
    </div>
  <% end -%>

  <%= f.submit "社員ログイン", class: "form-btn btn btn-success btn-qot" %>
<% end %>
