<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "employee_login_form"}) do |f| %>
  <h1 class="text-center">社員ログイン</h1>

  <div class="form-group">
    <%= f.text_field :no, class: "form-control form-control-lg", placeholder: "社員番号", autocomplete: "no", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, class: "form-control form-control-lg", placeholder: "パスワード（設定している場合）" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, value: "ログイン状態を記憶する" %>
    </div>
  <% end -%>

  <%= f.submit "社員ログイン", class: "form-btn btn btn-primary  btn-lg d-block m-auto" %>
<% end %>
