<!DOCTYPE html>
<html>
  <head>
    <title>QueenOfTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix">
      <div class="header-left">
        <div class="app-logo">Queen of Time</div>
        <ul class="header-list">
          <% if admin_signed_in? || sys_admin_signed_in? %>
            <li><%= link_to "日リスト", employees_path(list: "day") %></li>
            <li><%= link_to "月リスト", employees_path(list: "month") %></li>
            <!-- <li><%= link_to "スケジュール", employees_path(list: "schedule") %></li> -->
            <li><%= link_to "申請一覧", requests_path %></li>
            <li><%= link_to "従業員追加", new_employee_registration_path %></li>
            <li><%= link_to "設定", setting_path %></li>
          <% end %>
          <% if employee_signed_in? || sys_admin_signed_in? %>
            <li><%= link_to "タイムカード", timecard_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="header-right">
        <div class="header-user"><%= @user_info %></div>
        <% if signed_in? %>
          <div class="header-logout"><%= link_to "ログアウト", @logout_url, method: :delete %></div>
        <% end %>
      </div>
    </header>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <div id="contents">
      <%= yield %>
    </div>
  </body>
</html>
