<!DOCTYPE html>
<html>
  <head>
    <title>QueenOfTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix">
      <div class="header-left clearfix">
        <div class="app-logo d-none d-sm-block">Queen of Time</div>
        <ul class="header-list">
          <% if admin_signed_in? || sys_admin_signed_in? %>
            <li><%= link_to image_tag("dayly.png"), employees_path(list: "day"), title: "日データ" %></li>
            <li><%= link_to image_tag("monthly.png"), employees_path(list: "month"), title: "月データ" %></li>
            <li><%= link_to image_tag("requests.png"), requests_path, title: "申請一覧" %></li>
            <li><%= link_to image_tag("add_employee.png"), new_employee_url, title: "社員追加" %></li>
            <li><%= link_to image_tag("setting.png"), setting_path, title: "設定" %></li>
          <% end %>
          <% if employee_signed_in? || sys_admin_signed_in? %>
            <li><%= link_to image_tag("timecard.png"), timecard_path, title: "タイムカード" %></li>
          <% end %>
          <% if employee_signed_in? %>
            <li><%= link_to image_tag("requests.png"), requests_path, title: "申請一覧" %></li>
            <li><%= link_to image_tag("dayly.png"), employee_list_url(list: "day"), title: "日データ" %></li>
            <li><%= link_to image_tag("monthly.png"), employee_list_url(list: "month"), title: "月データ" %></li>
          <% end %>
        </ul>
      </div>
      <div class="header-right">
        <div class="header-user">
          <p><%= @user_kind %></p>
          <p><%= @user_identifer %></p>
        </div>
        <% if signed_in? %>
          <%= link_to "ログアウト", @logout_url, method: :delete, class: "header-logout" %>
        <% end %>
      </div>
    </header>
    
    <div id="contents">
      <% if notice %><p class="alert alert-primary"><%= notice %></p><% end %>
      <% if alert %><p class="alert alert-danger"><%= alert %></p><% end %>
      <%= yield %>
    </div>
  </body>
</html>
